body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #EDEDED; /* Fondo blanco */
}

.login-container {
  text-align: center;
}

.login-form {
  background-color: #F9F9F9;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px; /* Ajusta el ancho del formulario según tus necesidades */
  margin: auto; /* Centra el formulario en el centro de la página */
}

.login-form h1 {
  color: #424242;
  margin-top: 0; /* Elimina el margen del texto "Log In" */
  font-size: 40px;
}

.login-form label {
  display: block;
  color: #000; /* Texto negro */
  margin-bottom: 0.5em;
}

.login-form input {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  color: #000; /* Texto negro */
  background-color: #F9F9F9;
  border-color: #c5c5c5;
  border-width: 0.5px;
  border-style: solid;
}

.login-form button {
  border: none;
  border-radius: 8px;
  padding: 0.8em 1.5em;
  font-size: 1em;
  font-weight: 500;
  background-color: #28B9E6; /* Fondo negro para el botón */
  color: #fff; /* Texto blanco para el botón */
  cursor: pointer;
  transition: background-color 0.25s;
  width: 400px;
}

.login-form button:hover {
  background-color: #11abda; /* Cambia el color de fondo al pasar el ratón por encima */
}
.logo {
  height: 150px;
  width: auto;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}
